*{
    background-color: rgb(42, 42, 42);
    color: white;
    margin: 0;
}

.wrapper{
    margin-left: 50px;
    margin-right: 50px;
    height: 100vh;
}

/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
}
/*-------------------------------------------------------
/*main*/
.main-section{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    height: 350px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

h1{
    font-size: 5rem;
}

.bio p{
    width: 500px;
    font-size: 1.5rem;
}
/*------------------------------------------------------
/*subjects*/

.subjects{
    padding: 100px;
}

.AL, .gcse{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.box{
    width: inherit;
    text-align: center;
}

.AL .img.phy{
    padding: 100px;
    border: 1px solid white;
}

.gcse .box .img{
    padding: 150px;
    border: 1px solid white;
}

.chem img{
    width: 200px;
    height: auto;
    padding: 0;
    border: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
}