*{
    background-color: rgb(47, 47, 47);
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.body{
    height: 100vh;
}

.wrapper{
    padding-left: 50px;
    padding-right: 50px;
}
/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60px;
}
/*-------------------------------------------------------
/*main*/
.main-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 100px;
    height: 350px;
}


h1{
    font-size: 5rem;
}

.bio p{
    width: 500px;
    font-size: 1.5rem;
}
/*------------------------------------------------------
/*subjects*/

.subjects{
    padding: 100px;
}

.AL, .gcse{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.box{
    width: inherit;
    text-align: center;
}

.AL .img{
    border-radius: 16px;
}

.gcse .box .img{
    border: 1px solid white;
    border-radius: 16px;
}


/*---------------------------------------------*/
.auto {
    display: block;
    margin: 20px;
    width: 300px;
    height: 20px;
    overflow: hidden;
    transition: all .5s ease;
}
.phy.auto:hover{
    background-color: rgb(67, 142, 167);
    color: black;
}

.img{
    text-align: left;
}

h3{
    text-align: center;
}

h3, p{
    background-color: inherit;
    color: inherit;
}


.chem.auto:hover{
    background-color: rgba(243, 142, 74, 0.766);
    border: 1px solid white;
    color: black;
}

.Amths.auto:hover{
    background-color: rgba(45, 255, 213, 0.645);
    color: black;
}